.collapsible-header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 10px;
  background-image: linear-gradient(white, lightgrey);
}

.collapsible-header::after {
  width: 15px;
  height: 15px;
  font-family: monospace;
  content: 'v';
  float: right;
  transform: rotate(0deg);
  margin-right: 30px;
  transition: transform 500ms ease;

}

.collapsible-header.opened::after {
  transform: rotate(180deg);
}

.collapsible-body {
  position: relative;
  max-height:  0;
  overflow: hidden;
  opacity: 0;
  transition: all 500ms ease;
}

.collapsible-body.opened {
  max-height: 100%;
  opacity: 1;
  padding: 10px 0;
}