.radial-menu-container-2 .menu-container {
  height: 550px;
  width: 800px;
}

.radial-menu-container-2 .main-menu,
.radial-menu-container-2 .sub-menu-item {
  width: 80px;
  height: 60px;
  border-radius: 50%;
  color: aquamarine;
  background-color: black;
}

.radial-menu-container-2 .sub-menu-container,
.radial-menu-container-2 .sub-menu-container.opened{
  background-color: transparent;
  box-shadow: none;
}
.radial-menu-container-2 .sub-menu-container.opened{
  background-color: rgb(32, 43, 38);
}